@import "tailwindcss";

:root {
  /* Strict Global Color System */
  --color-primary: #6D5DFB;
  /* Purple */
  --color-success: #22C55E;
  /* Green */
  --color-warning: #F59E0B;
  /* Orange */
  --color-error: #EF4444;
  /* Red */
  --color-info: #06B6D4;
  /* Cyan */

  --color-bg-app: #F9FAFB;
  /* Soft off-white */
  --color-bg-surface: #FFFFFF;

  --color-text-heading: #111827;
  --color-text-body: #4B5563;
  --color-text-muted: #9CA3AF;
}

/* Custom Scrollbar Utility */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Sidebar Specific Scrollbar */
.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}